#dts-header-menu {
    position: absolute;
    left: 5px;
    right: 0;
    z-index: 500;
}

#dts-header-brand {
    height: 37px;
    font-weight: bold;
    padding: 12px 0px 0px 30px;
    background: url("/images/yahoo_e7.png") no-repeat 0px 10px;
}

#dts-header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dts-header-menu ul li {
	float: left;
}

#dts-header-menu ul li a {
    height: 37px;
    color: #e7e7e7;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 0 19px 0 5px;
}

#dts-header-menu ul li:hover a {
    color: #cccccc;
    background: url("/images/black_50.png");
}

#dts-header-menu ul li:hover ul {
    display: block;
}

#dts-header-menu ul li a h2 {
    margin: 0;
    padding-top: 12px;
    padding-left: 5px;
    font-size: 8pt;
}

#dts-header-menu ul li ul {
    position: absolute;
    display: none;
}

#dts-header-menu ul li ul li {
	float: none;
}

#dts-header-menu ul li ul li:hover {
}

#dts-header-menu ul li ul li a {
	height: 22px;
    color: #999999;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 20px;
    background: transparent;
}

#dts-header-menu ul li ul li a:hover {
    color: #cccccc;
    background: transparent;
}

.dts-header-menu-root {
    position: relative;
}

.dts-header-menu-arrow {
    position: absolute;
    top: 14px;
    right: 5px;
    width: 9px;
    height: 9px;
    background: url("/images/arrow_down.png");
}

.dts-header-menu-bl {
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 4px;
    height: 4px;
    background: url("/images/corner_black_bl_4.png") no-repeat 0 0;
}

.dts-header-menu-b {
    position: absolute;
    bottom: 0px;
    left: 4px;
    right: 4px;
    height: 4px;
    background: #000000;
}

.dts-header-menu-br {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 4px;
    height: 4px;
    background: url("/images/corner_black_br_4.png") no-repeat 0 0;
}
